<%- include("./headers/header",{title:title,user : user}) %>
<script src="/javascripts/loadingModel.js"></script>
<script src="/javascripts/tableManager.js"></script>


<style>

    form{
        text-align: center;
    }

    #CreateShop{
        border-bottom: 1px solid black;
    }

    table
    {
        border-collapse: collapse;
        caption-side: top;
    }
    td, th
    {
        border: 1px dashed black;
        alignment: center;
        margin: auto;
        text-align: center;
        margin: 1px;
        width: 12em;
    }
    caption{
        text-align: center;
    }
    input{
        margin: 10px;
    }

    #main{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #CreateShopForm{
        border : 2px solid black;
        border-bottom: 1px;
        padding: 10px;
    }
    #PrintShopCreate {
        display: flex;
        flex-direction: row ;
        align-content: center;
        border : 2px solid black;
        padding: 10px;

    }
    #shopPlacesWithoutShop{
        flex-grow: 1;
        margin: 10px;
    }
    #shopsWithShopPlace{
        flex-grow: 1;
        margin: 10px;

    }
    #shopsWithoutShopPlace{
        flex-grow: 1;
        margin: 10px;

    }

</style>
<div id="main">
    <h1><%= title %></h1>
    <div id="CreateShopForm">
        <form id="CreateShop" method="post" action="/shops/create/shop">

            <h2>Create shop</h2>

            <label for="name">Name :</label>
            <input  id="name" type="text" name="name" pattern="^[a-zA-Z0-9]{3,20}$" autofocus required title="Only numbers and letters. From 3 to 20." />

            <input id="CreateShopSubmit" type="submit" >

        </form>
        <form method="post" action="/shops/create/shopplace">

            <h2>Create shop place</h2>

            <label for="rent">Rent :</label>
            <input  id="rent" type="text" name="rent" pattern="^[0-9]{3,8}$" autofocus required title="Only numbers. From 3 to 8."/>

            <label for="surface">Surface(m2) :</label>
            <input  id="surface" type="text" name="surface" pattern="^[0-9]{2,4}$" autofocus required title="Only numbers. From 2 to 4."/>


            <input type="submit" >

        </form>
    </div>
    <div id="PrintShopCreate">
        <div id="shopPlacesWithoutShop">
            <%-shopPlacesWithoutShop%>
        </div>
        <div id="shopsWithShopPlace">
            <%-shopsWithShopPlace%>
        </div>
        <div id="shopsWithoutShopPlace">
            <%-shopsWithoutShopPlace%>
        </div>
    </div>

</div>
<%- include("./headers/footer",{title:"your_title"}) %>

